.box{
    background-color: yellow;
    width: 200px;
    height: 200px;
}
.box2{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    top: 0%;
    left: 45%;
}
h2{
    text-align: center;
    margin-top: 50px;
}
button{
    height: 30px;
    width: 60px;
    margin-left: 20px;
}